<div class="container">
    <div class="paypal-container">
        <div class="qrcodeImage">
            <qrcode
              [qrdata]="'https://www.paypal.com/paypalme/chutatu1@gmail.com'"
              [allowEmptyString]="true"
              [ariaLabel]="'QR Code image with the following content...'"
              [cssClass]="'center'"
              [colorDark]="'#000000ff'"
              [colorLight]="'#ffffffff'"
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'M'"
              [imageHeight]="75"
              [imageWidth]="75"
              [margin]="4"
              [scale]="1"
              [title]="'A custom title attribute'"
              [width]="300"
            ></qrcode>
          </div>
    </div>
</div>