<div class="container p-5">
  <div class="center">
    <h1>Chọn phương thức thanh toán</h1>
  </div>
  <div class="row mt-3">
    <!-- Form starts -->
    <form [formGroup]="form!" (ngSubmit)="onSubmit()">
      <mat-radio-group aria-label="Select an option" formControlName='paymentMethod'
        class="d-flex justify-center align-items-center">
        <mat-radio-button value="Tiền Mặt">Thanh toán bằng tiền mặt</mat-radio-button>
        <mat-radio-button value="qr">Thanh toán bằng mã QR</mat-radio-button>
        <mat-radio-button value="Thẻ Ngân Hàng">Thanh toán bằng thẻ ngân hàng</mat-radio-button>
      </mat-radio-group>
      <div style="text-align: center; margin-top: 20px;">
        <button class="button-submit" style="margin-left: auto; margin-right: auto;" type="submit">Thanh toán</button>
      </div>
    </form><!-- Form ends -->
  </div>
</div>