<div class="container">
    <mat-card>
        <mat-card-content>
            <form class="row" [formGroup]="form!" (ngSubmit)="onSubmit()">
                <mat-form-field color="accent" class="col-md-4 col-lg-4 col-xl-4">
                    <mat-label>Ngày thống kê từ</mat-label>
                    <input matInput formControlName = 'fromDate' [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  
                  <mat-form-field color="accent" class="col-md-4 col-lg-4 col-xl-4">
                    <mat-label>Ngày thống kê đến</mat-label>
                    <input matInput formControlName = 'toDate' [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  </mat-form-field>
                  
                  <button mat-raised-button color="accent" class="col-md-4 col-lg-4 col-xl-4">Tìm kiếm</button>
            </form>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="trendingChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="orderChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="customerChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="newCustomerChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-8 col-xl-8 col-lg-8">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content>
                            <div [chart]="barChart"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content style="padding: 0;">
                            <h3 style="margin-left: 1em;">Quảng cáo</h3>
                            <div class="content">
                                <img src = "../../../assets/icons/social.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>35000</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/twitter.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>2500</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/youtube.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>1M7</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/instagram.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>35000</h1>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content style="padding: 0;">
                            <div [chart]="horizontalBarChart"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>