<form class="container mt-5" [formGroup]="form!" (ngSubmit)="getAllSuppliers()">
    <div class="card">
        <div class="row m-0">
            <h2 class="header rounded-t-md pt-3 pb-3 m-0">NHÀ CUNG CẤP</h2>
            <div class="search-case mt-3">
                <!-- <button class="col-md-2" type="button" (click)="addNewProduct()"  mat-raised-button color="primary">Thêm mới</button> -->
                <div class="form-field">
                    <mat-form-field class="col-md-8" appearance="fill">
                        <mat-icon matPrefix class="my-icon">search</mat-icon>
                        <mat-label>Tìm kiếm</mat-label>
                        <input matInput formControlName="search">
                    </mat-form-field>
                    <button class="button-submit ml-2" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="row m-2 ">
            <div class="col-md-12">
                <table class="table-container">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Tên nhà cung cấp
                            </th>
                            <th>
                                <button class="col-md-3 button-submit" type="button" (click)="addNewSupplier()">Thêm
                                    mới</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let it of suppliers | paginate : {
                            itemsPerPage: 6,
                            currentPage: pagination,
                            totalItems: allFood
                        }; let i = index">
                            <tr id="{{i}}">
                                <td>{{i + 1}}</td>
                                <td>{{it?.providerName}}</td>
                                <td>
                                    <button color="primary" mat-raised-button (click)="editProduct(it)"
                                        style="margin-right: 10px"><mat-icon>create</mat-icon>Sửa</button>
                                    <button color="warn" mat-raised-button
                                        (click)="handleDelete(it?.providerId)"><mat-icon>delete</mat-icon>Xoá</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
        </div>
    </div>
</form>