<div class="container" style="height: 100%;" class="gradient-custom">
    <!-- <div class="divider"></div> -->
    <mat-card class="gradient-custom">
        <mat-card-content>
            <section class="main-content card">
                <!-- style="transform: translate(18%, -5%);" -->
                <div class="container" style="width: 100%;">
                    <h1 class="text-center text-uppercase">SẢN PHẨM</h1>
                    <br>
                    <div class="form-field d-flex align-items-center" [formGroup]="form!" (ngSubmit)="getAllProducts()">
                        <mat-form-field class="col-md-4" appearance="fill">
                            <mat-icon matPrefix class="my-icon">search</mat-icon>
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput formControlName="search">
                        </mat-form-field>
                        <button class="button-submit ml-2" type="submit">Tìm kiếm</button>
                    </div>
                    <mat-tab-group mat-stretch-tabs="true" #tabGroup (selectedTabChange)="onTabClick($event)"
                        mat-align-tabs="start">
                        <mat-tab label="Tất cả">
                            <form class="row" [formGroup]="foodForm!">
                                <ng-container formArrayName="foodCards">
                                    <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let product of products | paginate : {
                                    itemsPerPage: 6,
                                    currentPage: pagination,
                                    totalItems: allFood
                                }; let i = index">
                                        <div class="food-card" [formGroupName]="i">
                                            <div class="food-card_img">
                                                <img src="{{product?.urlImg}}" alt="">
                                                <!-- <a href="#!"><i class="far fa-heart"></i></a> -->
                                            </div>
                                            <div class="food-card_content">
                                                <div class="food-card_title-section">
                                                    <a href="#!" class="food-card_title">{{product?.foodName}}</a>
                                                    <span class="food-card_author">Mô tả:
                                                        {{product?.description}}</span>
                                                    <span class="food-card_author">Số lượng:
                                                        {{product?.quantity}}</span>
                                                </div>
                                                <div class="food-card_bottom-section">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <div>
                                                            <button mat-button color="accent"
                                                                (click)="addToCard(i)"><img
                                                                    src="../../../assets/icons/cart.png"
                                                                    style="width: 50px; height: 50px;" alt=""></button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="space-between">
                                                        <div class="food-card_price">
                                                            <span>{{product?.price}} VNĐ</span>
                                                        </div>
                                                        <div class="food-card_order-count">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-outline-secondary minus-btn"
                                                                        (click)="decreaseQuantity(i)" type="button"
                                                                        id="button-addon1"><i
                                                                            class="fa fa-minus"></i></button>
                                                                </div>
                                                                <input type="text" class="form-control input-manulator"
                                                                    formControlName="quantity" placeholder=""
                                                                    aria-label="Example text with button addon"
                                                                    aria-describedby="button-addon1" value="0">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary add-btn"
                                                                        (click)="increaseQuantity(i)" type="button"
                                                                        id="button-addon1"><i
                                                                            class="fa fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="d-flex justify-content-center">
                                    <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
                                </div>
                            </form>
                        </mat-tab>
                        <ng-container *ngFor="let it of categories">
                            <mat-tab label="{{it?.categoryName}}">
                                <form class="row" [formGroup]="foodForm!">
                                    <ng-container formArrayName="foodCards">
                                        <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let product of productCategory | paginate : {
                                        itemsPerPage: 6,
                                        currentPage: pagination,
                                        totalItems: allFood
                                    }; let i = index">
                                            <div class="food-card" [formGroupName]="i">
                                                <div class="food-card_img">
                                                    <img src="{{product?.urlImg}}" alt="">
                                                    <!-- <a href="#!"><i class="far fa-heart"></i></a> -->
                                                </div>
                                                <div class="food-card_content">
                                                    <div class="food-card_title-section">
                                                        <a href="#!" class="food-card_title">{{product?.foodName}}</a>
                                                        <span class="food-card_author">Mô tả:
                                                            {{product?.description}}</span>
                                                        <span class="food-card_author">Số lượng:
                                                            {{product?.quantity}}</span>
                                                    </div>
                                                    <div class="food-card_bottom-section">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div>
                                                                <button mat-button color="accent"
                                                                    (click)="addToCard(i)"><img
                                                                        src="../../../assets/icons/cart.png"
                                                                        style="width: 50px; height: 50px;"
                                                                        alt=""></button>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="space-between">
                                                            <div class="food-card_price">
                                                                <span>{{product?.price}} VNĐ</span>
                                                            </div>
                                                            <div class="food-card_order-count">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <button
                                                                            class="btn btn-outline-secondary minus-btn"
                                                                            (click)="decreaseQuantity(i)" type="button"
                                                                            id="button-addon1"><i
                                                                                class="fa fa-minus"></i></button>
                                                                    </div>
                                                                    <input type="text"
                                                                        class="form-control input-manulator"
                                                                        formControlName="quantity" placeholder=""
                                                                        aria-label="Example text with button addon"
                                                                        aria-describedby="button-addon1" value="0">
                                                                    <div class="input-group-append">
                                                                        <button
                                                                            class="btn btn-outline-secondary add-btn"
                                                                            (click)="increaseQuantity(i)" type="button"
                                                                            id="button-addon1"><i
                                                                                class="fa fa-plus"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="d-flex justify-content-center">
                                        <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
                                    </div>
                                </form>
                            </mat-tab>
                        </ng-container>
                    </mat-tab-group>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
</div>