<div class="container">
    <h2 class="mt-3">Sửa thông tin sản phẩm</h2>
    <mat-dialog-content class="row">
        <form [formGroup] = "form!" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="name" class="col-sm-5 col-form-label">Tên sản phẩm:</label>
              <div class="col-sm-7 form-input">
                <input type="text" class="form-control" formControlName = "foodName">
              </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-5 col-form-label">Giá nhập</label>
                <div class="col-sm-7 form-input">
                  <input type="text" class="form-control" formControlName = "importPrice">
                </div>
            </div>
            
            <div class="form-group row">
              <label for="price" class="col-sm-5 col-form-label">Giá bán</label>
              <div class="col-sm-7 form-input">
                <input type="text" class="form-control" formControlName = "price">
              </div>
            </div>
  
            <div class="form-group row">
                <label for="quantity" class="col-sm-5 col-form-label">Nhập số lượng</label>
                <div class="col-sm-7 form-input">
                    <input
                        type="number"
                        matInput
                        name="value"
                        formControlName = "quantity"
                        class="form-control"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-5 col-form-label">Mô tả:</label>
                <div class="col-sm-7 form-input">
                  <input type="text" class="form-control" formControlName = "description">
                </div>
              </div>
            <div class="form-group row">
                <label for="file" class="col-sm-5 col-form-label">File</label>
                <!-- formControlName="file" -->
                <div class="col-sm-7 form-input">
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 70px; width:70px; background-size: cover;">
                    <input 
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)"
                        formControlName = "urlImg"
                    >
                </div>
                <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div> -->
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-12 col-form-label">Nhà cung cấp:</label>
            </div>
            <div class="form-group row">
                <div class="table-container col-md-12 col-lg-12 mt-3">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Tên nhà cung cấp
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor = "let it of suppliers; let i = index">
                                <tr id="{{i}}">
                                    <td>
                                        <input type="radio" [value]="it" [(ngModel)] = "selection" [ngModelOptions]="{standalone: true}" (change)="onSelect(it)" checked>
                                    </td>
                                    <td>{{it?.providerId}}</td>
                                    <td>{{it?.providerName}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Category -->
            <div class="form-group row">
                <label for="name" class="col-sm-12 col-form-label">Phân loại:</label>
                <div class="table-container col-md-12 col-lg-12 mt-3">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Tên Phân loại
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor = "let it of categories; let i = index">
                                <tr id="{{i}}">
                                    <td>
                                        <input type="radio" [value]="it" [(ngModel)] = "selectionCategory" [ngModelOptions]="{standalone: true}" (change)="onSelectCategory(it)" checked>
                                    </td>
                                    <td>{{it?.categoryId}}</td>
                                    <td>{{it?.categoryName}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Category -->

            <!--  -->
            <div class="row mt-5 mb-5">
                <div class="col-sm-12 d-flex justify-content-end">
                    <button color="primary" mat-raised-button style="margin-right: 10px" type="submit">Sửa</button>
                    <button mat-raised-button type="button" (click)="onClose()">Đóng</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</div>