<form class="container mt-5">
        <div class="card">
            <div class="row m-2">
                <h2>SẢN PHẨM</h2>
            <div class="search-case">
                <button class="col-md-2" type="button" (click)="addNewProduct()"  mat-raised-button color="primary">Thêm mới</button>
                <div class="form-field">
                    <mat-form-field formControlName = "foodSearch" class="form-field col-md-8" appearance="outline">
                        <mat-icon matPrefix class="my-icon">search</mat-icon>
                        <mat-label>Tìm kiếm</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button type="button" (click)="searchByProduct()">Tìm</button>
                </div>
            </div>
            </div>
            <div class="row m-2 ">
                <div class="col-md-12">
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Giá
                                </th>

                                <th>
                                    Trạng thái
                                </th>

                                <th>
                                    Ảnh
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor = "let it of products; let i = index">
                                <tr id="{{i}}">
                                    <td>{{it?.id}}</td>
                                    <td>{{it?.nameProduct}}</td>
                                    <td>{{it?.price}}</td>
                                    <td>{{it?.status == true ? 'Còn' : 'Không còn'}}</td>
                                    <td><img style="width: 50px; height: 50px; object-fit: cover; background-size: cover;" src="{{it?.img}}" alt=""></td>
                                    <td>
                                        <button color="primary" mat-raised-button style="margin-right: 10px"><mat-icon>create</mat-icon>Sửa</button>
                                        <button color="warn" mat-raised-button><mat-icon>delete</mat-icon>Xoá</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator
                        class="demo-paginator"
                        (page)="handlePageEvent($event)"
                        [length]="products.length"
                        [pageSize]="pageSize"
                        [disabled]="disabled"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                        [hidePageSize]="hidePageSize"
                        [pageIndex]="pageIndex"
                        aria-label="Select page">
                    </mat-paginator> -->
                </div>
            </div>
        </div>
</form>